@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.instagram-banner-container {
    background-image: linear-gradient(to left, #00ffff, #d267c4, #f64f59, #f58529, #f54f5a);
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.banner-logo-head-container {
    display: flex;
    justify-content: space-between;
}

.head {
    display: flex;
}

.logo-img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 10px;
}

.head-text {
    color: #ffffff;
    font-size: 25px;
    font-family: "Roboto";

}

.search-icon {
    align-self: center;
}

.story-heading {
    font-family: "Lobster";
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.description {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 15px;
    text-align: center;

}

.instagram-bottom-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.feature-description1 {
    font-family: "Roboto";
    color: #0f172a;
    font-weight: 600;
    margin-left: 30px
}

.img1 {
    margin-left: 80px
}

.feature-description2 {
    font-family: "Roboto";
    color: #0f172a;
    font-weight: 600;


}

.img2 {
    margin-left: 10px
}

.feature-description3 {
    font-family: "Roboto";
    color: #0f172a;
    font-weight: 600;
    margin-left: 10px
}

.img3 {
    margin-left: 45px
}

.search-section {
    text-align: center;

}

.input-box {
    width: 300px;
    margin-right: 10px;
    border-radius: 8px;
    height: 40px;
    border-width: 0px;
}

.button {
    background-color: #3b82f6;
    text-align: center;
    border-width: 0px;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    color: #ffffff;
    font-size: 15px;

}

.navbar-features-container {
    display: flex;
}

.navbar-features {
    font-family: "Roboto";
    font-size: 15px;
    color: #ffffff;
    padding-right: 15px;
    padding-top: 25px;
    text-decoration: none;


}

@media (max-width:767px) {
    .search-section {
        display: none;
    }

    .navbar-features {
        display: none;

    }
}

@media (min-width:768px) {
    .instagram-banner-container {
        background-image: linear-gradient(to top, #00ffff, #d267c4, #f64f59, #f58529, #f54f5a);
    }

    .instagram-bottom-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 70px;

    }

}